<app-header></app-header>
<div id='wrapper'>
  <sidebar></sidebar>
  <sitemap></sitemap>
  <!-- Content -->
  <div id='content'>
    <div class='panel panel-default grid'>
      <div class='panel-heading'>
        <i class='icon-file-text-alt'></i> 菜单管理
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-9'>
            <button class="btn btn-info" ng-click="openAdd()">添加角色</button>
          </div>
          <div class='col-md-3'>
            <div class='input-group'>
              <input class='form-control' placeholder='快速查询' type='text'>
              <span class='input-group-btn'>
                <button class='btn' type='button'>
                  <i class='icon-search'></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="table-wrap">
        <table class='table'>
          <thead>
            <tr>
              <th>序号</th>
              <th>角色名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in roles">
              <td ng-bind="$index+1"></td>
              <td ng-bind="role.roleName"></td>
              <td class='action'>
                <a href='javascript:;' class='btn btn-info' ng-click="openEdit(role.roleId)"><i class='icon-edit'></i></a>
                <a href="javascript:;" class="btn btn-danger" ng-click="delete(role.roleId)"><i class="icon-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="frame-wrap" ng-show="frame.show">
  <div class="frame">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <i class='icon-edit icon-large'></i> 权限详情
        <a href="javascript:;" class="close" ng-click="frame.show=false">×</a>
      </div>
      <div class='panel-body'>
        <form>
          <fieldset>
            <legend>{{frame.title}}</legend>
            <div class='form-group'>
              <div class="left">
                <label class='control-label'>角色名称:</label>
              </div>
              <div class="right">
                <input class='form-control' type='text' ng-model="form.name">
              </div>
            </div>
            <div class='form-group'>
              <div class="left">
                <label class='control-label'>权限:</label>
              </div>
              <div class="right">
                <table class="menu-table">
                  <tr>
                    <th width="80px">一级菜单</th>
                    <th>二级菜单</th>
                  </tr>
                  <tr ng-repeat="menu in form.menus">
                    <td>
                      <label>
                        <input type="checkbox" ng-model="menu.hasMenuRight" ng-change="fatherChecked()" ng-checked="menu.hasMenuRight">
                        <span ng-bind="menu.menuName"></span>
                      </label>
                    </td>
                    <td>
                      <label ng-repeat="subMenu in menu.subMenu">
                        <input type="checkbox" ng-model="subMenu.hasMenuRight" ng-change="$parent.childChecked()" ng-checked="subMenu.hasMenuRight">
                        <span ng-bind="subMenu.menuName"></span> &emsp;
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
          <div class='form-actions'>
            <button class='btn btn-default' type='submit' ng-click="save()">保存</button>
            <a class='btn' href='javascript:;' ng-click="frame.show=false">取消</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
