<section id='tools'>
  <ul class='breadcrumb' id='breadcrumb'>
    <li>
      <span class="title">{{site[route[0]]}}</span>
    </li>
    <li ng-if="route[1]">
      <strong>{{site[route[1]]}}</strong>
    </li>
    <li ng-if="route[2]">
      <strong>{{site[route[2]]}}</strong>
    </li>
    <li ng-if="route[3]">
      <strong>{{site[route[3]]}}</strong>
    </li>
  </ul>
  <!--  <div id='toolbar'>
    <div class='btn-group'>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Building'>
        <i class='icon-building'></i>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Laptop'>
        <i class='icon-laptop'></i>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Calendar'>
        <i class='icon-calendar'></i>
        <span class='badge'>3</span>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Lemon'>
        <i class='icon-lemon'></i>
      </a>
    </div>
    <div class='label label-danger'>
      Danger
    </div>
    <div class='label label-info'>
      Info
    </div>
  </div> -->
</section>
